.dashboard {
    min-height: 100vh;
    display: flex;
}

.left_dashboard {
    min-height: 100%;
    width: 20%;
    border: 1px solid black;
    background: #1b1b1bad;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dash_logo_holder img {
    width: 80px;
    height: 80px;
}

.dash_left_info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-bottom: 30px;
    min-height: 350px;
}

.groupName {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

.dash_left_info img {
    width: 130px;
    height: 130px;
}

.dash_logo_holder {
    border-bottom: 1px solid rgb(131, 131, 131);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.right_dashboard {
    min-height: 100vh;
    width: 80%;
    position: relative;
    width: 80%;
}

.right_info {
    width: 100%;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #354052;
}

.right_group_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid white;
    border-left: 0;
    border-right: 0;
    /* border-radius: 20px; */
    padding: 25px;
    color: white;
    text-align: center;
    /* background: #354052; */
}
.charts_container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* border-left: 0; */
    /* border-radius: 20px; */
    min-height: 65vh;
    background: #354052;
}

.charts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    min-height: 600px;
}

.navbar {
    display: none;
}

@media only screen and (max-width: 767px) {
    .left_dashboard {
        display: none;
    }
    .right_dashboard {
        width: 100%;
    }
    .navbar {
        display: block;
    }
    .right_group_info {
        margin-top: 80px;
        border-top: 0;
    }
}

.charts iframe {
    border: 1px solid #cccccc;
    margin: 15px;
}

.members {
    margin-top: -10px;
    text-align: center;
}

.left_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid rgb(131, 131, 131); */
    /* position: absolute; */
    width: 100%;
    bottom: 10px;
}