.login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login_form {
    margin-bottom: 120px !important;
}

.login_submit {
    margin-top: 30px !important;
}

.login_card_logo {
    margin-top: 50px !important;
}